.nav{
    background-color: var(--gray); !important;
    color: white; !important;
}
.uk-navbar-container .uk-navbar-left{
    background-color: var(--gray); !important;
    color: white;
}

.bar{width:100%;overflow:hidden}.w3-center .bar{display:inline-block;width:auto}
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar .bar-right-item{padding:8px 16px;float:right;width:auto;border:none;display:block;outline:0}
.bar .w3-button{white-space:normal}
.green,.hover-green:hover{color:#fff!important;background-color:#4CAF50!important}

